<div class="depot_form">

    <%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
            <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>

    <h2>Enter User Details</h2>

    <div class="field">
        <%= form.label :name, 'Name:' %>
        <%= form.text_field :name, size: 40 %>
    </div>

    <div class="field">
        <%= form.label :password, 'Password:' %>
        <%= form.password_field :password, size: 40 %>
    </div>

    <div class="field">
        <%= form.label :password_confirmation, 'Confirm:' %>
        <%= form.password_field :password_confirmation, id: :user_password_confirmation, size: 40 %>
    </div>

    <div class="actions">
        <%= form.submit %>
    </div>
    <% end %>

    </div>