<h1>New Order</h1>

<%= render 'form', order: @order %>

<%= link_to 'Back', orders_path %>

<section class="depot_form">
  <h1><%= t('.legend') %></h1>
  <%= render 'form', order: @order %>
</section>

<%= javascript_pack_tag("pay_type") %>
