<h1>SupportRequest#respond</h1>

<%= @support_request.response %>
<hr>
<blockquote>
    <%= @support_request.body %>
</blockquote>

<p>
    <%= @greeting %>, find me in app/views/support_request_mailer/respond.html.erb
</p>