<article>
  <% if notice %>
  <aside id="notice"><%= notice %></aside>
  <% end %>

  <h2><%= t('.title') %></h2>
    <table>

      <%= render(cart.line_items) %>
      <tfoot>
        <tr>
            <th colspan="2">Total:</th>
            <td class="price"><%= number_to_currency(cart.total_price) %></td>
        </tr>
      </tfoot>
    </table>
    <div class="actions">
      <%= button_to t('.empty'), cart,
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
      <%= button_to t('.checkout'), new_order_path(locale: I18n.locale),
                      method: :get,
                      class: "checkout"%>
    </div>
  <% end %>
</article>