// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.store {
  max-width: 80em;
  ul.catalog {
    border-top: solid 0.25em;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 1em;
      margin: 0;
      border-bottom: solid thin #ddd;
      // This makes sure our <li> has enough height
      // to hold the entire image, since it's floated
      &::after {
        clear: both;
        content: " ";
        display: block;
      }
      img {
        float: left;
        padding: 1em;
        margin-right: 1em;
        margin-bottom: 1em;
        box-shadow: 0.176em 0.176em 0.354em 0px rgba(0, 0, 0, 0.75);
      }
      .price {
        font-size: 1.414em;
      }
      form, div {
        display: inline;
        }
        input[type="submit"] {
        background-color: #282;
        border-radius: 0.354em;
        border: solid thin #141;
        color: white;
        font-size: 1em;
        padding: 0.354em 1em;
      }
      input[type="submit"]:hover {
        background-color: #141;
      }
    }
  }
}
